*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 100px;
    width: 100%;
    background-color: rgb(130, 130, 185);
    position: relative;
    display: flex;
    justify-content: space-between;
    /* padding: 0 2vw; */
    align-items: center;
    /* border-bottom: 1px solid rgb(27, 21, 21); */
    color: rgb(255, 255, 255);
}

.logo{
    padding: 2vh 5vw;
    font-size: 2.6em;

}

.navsev{
    display: flex;
    gap: 3vw;
    font-weight: 800;
    padding: 2vh 5vw;
    margin-top: 1.7vh;
}
.navsev h4{
    font-size:1.2em;
    /* margin-top: 1vh; */
}

.navsev button{
    width: 13vh;
    height: 6vh;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 0 2vh;
    font-size: 1.4;
    font-weight: 800;
    position: relative;
    bottom: .5vw;
    background-color: rgb(239, 167, 167);
    color: rgb(255, 255, 255);
    border: none;

}

.ri-menu-line{
    display: none;

}
@media (max-width:600px){
    .nav{
        background-color: rgb(130, 130, 185);
        width: 100%;
        height: 60px;
        padding: 2vh 5vw;
        font-size: .7em;
    }
    .navsev button{
        display: none;
    }
    .navsev h4{
        display: none   ;
    }
    .ri-menu-line{
        font-weight: 800;
        font-size: 3vh;
        display: block;
        /* margin-top: 2wh; */
        margin: 31px;
    }   
}
